body {
    font-family: "Poppins", helvetica;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #E0E1DD;
    background: #0D1B2A;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* TOPBAR */
#topbar {
    background-color: #415A77;
    position: fixed;
    top: 4px;
    left: 4px;
    right: 4px;
    border-radius: 12px;
    visibility: hidden;
}
#topbar a {
    float: left;
    display: block;
    color: #E0E1DD;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#topbar a:hover {
    color: white;
    transition: 0.2s;
    transform: translateY(2px);
}

/* CLASSES */
.container {
    display: flex;
    align-items: center;
    justify-content: center
}
.darkened {
    background-color: #1B263B;
    color: white;
}
.disappearing {
    opacity: 50%;
}
.touchable {
    cursor: pointer;
}
.touchable:hover {
    transition: 0.2s;
    transform: translateY(4px);
    transform: scale(1.2);
}
.contact {
    background-color: #1B263B;
    color: #E0E1DD;
    padding-bottom: 30px;
    margin-top: 30px;
  }
.image {
    flex-basis: 40%
}
.text {
    padding-left: 20px;
}
.resize {
    width: 400px;
    height: auto;
}
img {
     max-width: 100%
}
table {
    padding-top: 20px;
    table-layout: fixed;
    width: 100%;
}
/* Embedded Spotify Block*/
.spotify{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.ifrtop {
    font-size: 15px;
    position: absolute;
    left: 10px;
    bottom: 90px;
    width: 400px;
}

/* Links */
a {
    color: inherit;
}

/* Top-Headline */
h1 {
    color: white;
    background: url("assets/images/meOutside.webp") repeat scroll center center/cover;
    height: 100vh;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 30px;
    text-indent: 5%;
    line-height: 110%;
    font-size: 40px;
    cursor: default;
}

/* Headline */
h2 {
    margin: 0%;
    font-size: 28px;
    text-align: left;
    line-height: 110%;
}

/* Standard Text */
h3 {
    text-align: left;
}

/**/
h4 {
    font-size: large;
}

h5 {
    font-size: 28px;
    padding-top: 20px;
    margin-bottom: 0px;
}

/* SCROLL ARROW credits: https://unused-css.com/blog/animated-down-arrow/ */
.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid #0d1b2a;
  border-right: 4px solid #0d1b2a;
  z-index: 9;
  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation:    fade_move_down 4s ease-in-out infinite;
  animation:         fade_move_down 4s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@-moz-keyframes fade_move_down {
  0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
@keyframes fade_move_down {
  0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
}
