* {
  box-sizing: border-box;
}


/* _____ BLOG PAGE _____ */
touchbutton {
	display: inline-block;
	color: gray;
	text-align: center;
	padding: 14px;
	text-decoration: none;
	padding-top:0px;
	padding-bottom:0px;
}
touchbutton:hover {
	background-color: gray;
	color: white;
	transform: 0.2s;
	transform: scale(98%);
	border-radius: 10px;
}

/* _____ BLOG ENTRY _____ */
tt {
  color: orange;
  font-size: 20px;
  padding-left: 10px;
}


/* _____ GENERAL _____ */

/* Blog Column */
.blogcolumn {
  float: left;
  width: 75%;
  padding-right: 10px;
}

/* Info Column */
.infocolumn {
  float: left;
  width: 25%;
  padding-right: 20px;
  padding-left: 10px;
}

/* Add a card effect for articles */
.card {
  background-color: #415A77;
  border-radius: 12px;
  color: white;
  padding: 20px;
  margin-top: 20px;
}
.touchcard {
	background: white;
	color: black;
	text-align: left;
}
.touchcard:hover {
	transition: 0.2s;
    	transform: translateY(4px);
    	transform: scale(0.95);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Maybe adaptive screen layout??  Not quiet working yet... */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
